<main class="site-content">
    <div class="container main-content-container">
        <div class="row justify-content-center form-div">
            <form class="stock-input">
                <input type="text" name="stock-symbol" id="user-input" placeholder="Enter stock symbol..">
                <br>
                <button type="button" class="btn submit">Submit</button>
            </form>
        </div>
    </div>
    {{!-- 
    <div class="row justify-content-center chart-toggle">
        <select id="get-chart">
            <div class="row justify-content-center">
                <form class="stock-input">
                    <input type="text" name="stock-symbol" id="user-input" placeholder="Enter stock symbol..">
                    <br>
                    <button type="button" class="btn submit">Submit</button>
                </form>
            </div>
    </div>
     --}}
    <div class="container">
        <div id="chart-div-1" class="row justify-content-center chart-div ">
            <canvas id="canvas" class="chartjs-render-monitor"></canvas>
        </div>
    </div>
    <div class="container">
        <div id="chart-div-2" class="row justify-content-center chart-div">
            <canvas id="canvas2" class="chartjs-render-monitor"></canvas>
        </div>
    </div>
    <div class="container">
        <div id="chart-div-3" class="row justify-content-center chart-div">
            <canvas id="canvas3" class="chartjs-render-monitor"></canvas>
        </div>
    </div>
    <div class="row justify-content-center chart-toggle">
        <select id="getchart">
            <option value="chart-div-1">Profit Margin</option>
            <option value="chart-div-2">Valuation</option>
            <option value="chart-div-3">Financial Health</option>
        </select>
    </div>
</main>