<main class="site-content">
    <div class="container main-content-container">
        <div class="row justify-content-center form-div">
            <form class="stock-input">
                <input type="text" name="stock-symbol" id="user-input" placeholder="Enter stock symbol..">
                <br>
                <button type="button" class="btn submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center chart-toggle">
        <select id="get-chart">
            <div class="row justify-content-center">
                <form class="stock-input">
                    <input type="text" name="stock-symbol" id="user-input" placeholder="Enter stock symbol..">
                    <br>
                    <button type="button" class="btn submit">Submit</button>
                </form>
            </div>
    </div>
    <div class="row justify-content-center chart-div">
        <canvas id="canvas" class="chartjs-render-monitor"></canvas>
    </div>
    {{!-- 
    <div class="row justify-content-center chart-div">
        <canvas id="canvas" class="chartjs-render-monitor"></canvas>
    </div>
     --}}
    <div class="row justify-content-center chart-toggle">
        <select id="get-chart">
            <option value="canvas">See Chart One</option>
            <option value="chart2">See Chart Two</option>
        </select>
    </div>
    <div class="row justify-content-center table-div">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col">Stock</th>
                    <th scope="col">?</th>
                    <th scope="col">??</th>
                    <th scope="col">???</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Oh</td>
                    <td>Hi</td>
                    <td>@Mark</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Oh</td>
                    <td>Hi</td>
                    <td>@Mark</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Oh</td>
                    <td>Hi</td>
                    <td>@Mark</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Oh</td>
                    <td>Hi</td>
                    <td>@Mark</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Oh</td>
                    <td>Hi</td>
                    <td>@Mark</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>