<header class="site-header">
    <div class="container site-header-container">
        <div class="row">
            <div class="branding col">
                <h1 class="site-header-logo text-pop-up-top">DOPI</h1>
                <div class="brand-info">
                    <ul class="brand-info-list d-flex flex-row justify-content-around">
                        <li class="brand-info-item brand-info--text">Saint Paul, MN</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>