/*
typography/fonts
*/

h1 {
    font-family: 'Playfair Display SC', serif;
}

.text-pop-up-top {
    -webkit-animation: text-pop-up-top 0.5s both;
    animation: text-pop-up-top 0.5s both;
}

@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #3a3a3a, 0 2px 0 #3a3a3a, 0 3px 0 #3a3a3a, 0 4px 0 #3a3a3a, 0 5px 0 #3a3a3a, 0 6px 0 #3a3a3a, 0 7px 0 #3a3a3a, 0 8px 0 #3a3a3a, 0 9px 0 #3a3a3a, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}
@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-5px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #3a3a3a, 0 2px 0 #3a3a3a, 0 3px 0 #3a3a3a, 0 4px 0 #3a3a3a, 0 5px 0 #3a3a3a, 0 6px 0 #3a3a3a, 0 7px 0 #3a3a3a, 0 8px 0 #3a3a3a, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}


.brand-info-item {
    font-family: 'Heebo', sans-serif;
}

::placeholder {
    font-family: 'Heebo', sans-serif;
}

.btn {
    font-family: 'Heebo', sans-serif;
}

#getchart{
    font-family: 'Heebo', sans-serif;
}

.table {
    font-family: 'Heebo', sans-serif;
}

.copyright {
    font-family: 'Heebo', sans-serif;
}

/*
layout
*/

/*
colors
*/

/*
links/buttons
*/

.btn {
    transition: all 300ms ease-in;
    background-color: #3a3a3a;
    color: #fff;
}

.btn:hover {
    color: #fff;
    text-decoration: none;
    opacity: .6;
}

/*
tables
*/

/*
forms
*/

#user-input {
    width: 500px;
    height: 2em;
    padding: 5px;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.9);
}

/*
blocks
*/

body {
    background-image: url("/img/background.jpg");
    background-size: cover;
    color: #fff;
}

/*
site header
*/

.site-header {
    margin-top: 20px;
    margin-bottom: 50px;
}


.site-header-logo {
    text-align: center;
    margin: 0;
    font-size: 4em;
    letter-spacing: 7px;
}

.brand-info-item {
    text-transform: uppercase;
}

.brand-info-list,
.primary-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*
main-content
*/

.main-content-container {
    position: relative;
    text-align: center;
    color: #000;
    margin-bottom: 50px;
}

/* Chart.js */

@keyframes chartjs-render-animation {
    from {
        opacity: .99
    }
    to {
        opacity: 1
    }
}

.chartjs-render-monitor {
    animation: chartjs-render-animation 1ms;
    background: rgba(255, 255, 255, 0.9);
    width: 1000px !important;
    height: 600px !important;
    margin-bottom: 20px;
    animation: chartjs-render-animation 1ms
}

.chartjs-size-monitor,
.chartjs-size-monitor-expand,
.chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1
}

.chartjs-size-monitor-expand>div {
    position: absolute;
    width: 1000000px;
    height: 1000000px;
    left: 0;
    top: 0
}

.chartjs-size-monitor-shrink>div {
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0
}

#getchart {
    background-color: #3a3a3a;
    color: #fff;
    margin-bottom: 50px;
}

.table {
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    width: 800px;
    margin-bottom: 100px;
}

/*
site footer
*/

.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}